# Core functionality - changes here should be rare!
/src/app.py                   @nisrine21
/src/backend/database.py      @nisrine21
/src/backend/routers/auth.py  @nisrine21

# The frontend will need refactored soon to be more object oriented.
/src/static/   @nisrine21
